.header_parent{
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

.navLinks > ul{
    display: flex;
    gap: 10px;

}

.navLinks > ul > li{
    list-style: none;

}

a{
    text-decoration: none;
}

a > li{
    list-style: none;
}